*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    background-color: aliceblue;
    /* background: url(https://i.postimg.cc/RZhC0RbR/301213102-131331469608925-6960949691460459612-n.jpg); */
    background-size:auto;
    /* resize: none; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* body{
    ba
} */
/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 7%;
    padding-left: 7%;
    width: 100vw;
} */
.navbar{
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    /* text-align: right; */
}

ul, li {
    list-style-type: none;
    display: inline-block;
    padding: 19px 20px;
    justify-content: space-between;
}
nav, li, a {
    text-decoration: none;
    text-transform: capitalize;
}

/* unvisited link */
a:link {
    color: deeppink;
}
/* Mouse over link */
a:hover {
    transition: 1s;
}
a:hover {
    transition: 1s;
    scale: 1.2;
}
a:visited {
    color: purple;
}
.container{
    display: inline;
}
logo{
    /* align-items: flex-start; */
    flex: 1;
    align-items: flex-start;
}
p{
    /* align-self: center; */
    /* align-content: center; */
    /* align-items: center; */
    color: grey;
}
span{
    color:black;
}
.product-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
card-text{
    align-items: center;
}
.container{
    height: auto;
}
.logo{
    width: 12vw;
    height: 20vh;
}
form {
    background-color: white;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.297);
    justify-content: center;
    gap: 1.5rem;
    border-radius: 10px;
}
form h2 {
    text-align: center;
}
form input {
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    padding: 0 10px;
}
form .gender-container {
    gap: 2rem;
}
form .gender-container span {
    gap: 1rem;
}
form .gender-container,
form .gender-container span  {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: black;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    padding: 10px;margin-left: 20px;
}

